/* You can add global styles to this file, and also import other style files */
@import "~bootstrap";


app-footer {
  margin-top: auto;
}

app-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
